


<div>
<router-outlet></router-outlet>
</div>


<div class="myFooter">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar ac purus ut tincidunt. Phasellus placerat fermentum neque, nec mollis erat mattis luctus. Aenean placerat erat eros, quis vulputate eros egestas nec. Fusce sollicitudin, erat ut lacinia accumsan, purus massa lobortis sapien, at laoreet leo metus non leo. Sed iaculis leo eu odio elementum imperdiet. Donec condimentum fringilla nulla et faucibus. Ut mattis orci nec finibus interdum. Praesent fermentum orci in mi convallis dictum. Quisque mi eros, volutpat non sapien pharetra, auctor gravida velit. Etiam euismod finibus eros sit amet interdum. Etiam viverra, velit.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Book a Slot</a></li>
            <li><a href="#">Check the Slot</a></li>
            <li><a href="#">Update Profile</a></li>
            <li><a href="#">Watch Profile</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a (click)="onContact()">Contact Us</a></li>
            <li><a (click)="onTeam()">Our Developers</a></li>
            <li><a href="#">Privacy Policy</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
            <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/Care-Hospital-106514837744103/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/care.hospital" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="http://linkedin.com/in/care-hospital-8458181aa" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer></div>
