<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<header style="height: 45px" >


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="height: 60px;">
    <div class="container">
      <img style="max-width: 50px;
    position: relative;
    left:20px;" src="assets/logo.png">
      <img style="max-width: 100px;
    position: relative;
    left: 30px;" src="assets/name.png">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="team-section" style="position: relative;
    left: 10%;
    /* height: 90%; */
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 55px;
    box-shadow: 2px 2px 25px black;">
  <a class="btn btn-primary" style="height: 35px;
    position: relative;
    background-color: rgba(0,0,0,0.55);
    border: 0px;
    right: 15px;
    color: white;
    padding: 20px;
    padding-bottom: 40px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
z-index: 111" (click)="onBack()">Go Back</a>
  <h2 style="text-align: center;font-family: Oswald;font-size: 60px">OUR DEVELOPERS</h2>
  <div class="container">
    <div class="row">
      <div class="section-title">

      </div>
    </div>
    <div class="row">
      <div class="team-items">
        <div class="item">
          <img src="assets/team-1.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Shyam Bhargav Allam</h5>
              <p>Developer</p>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/team-2.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Phaindhra Kanaparthi</h5>
              <p>Developer</p>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/team-3.jpg" alt="team" />
          <div class="inner">
            <div class="info">
              <h5>Akhil Ravuri</h5>
              <p>Developer</p>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="team-items">
            <div class="item">
              <img src="assets/team-1.jpg" alt="team" />
              <div class="inner">
                <div class="info">
                  <h5>Sai Nikhil Reddy Pendyala</h5>
                  <p>Developer</p>
                  <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="team-items">
                <div class="item">
                  <img src="assets/team-1.jpg" alt="team" />
                  <div class="inner">
                    <div class="info">
                      <h5>Likitha Komineni</h5>
                      <p>Developer</p>
                      <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <img src="assets/team-4.jpg" alt="team" />
                  <div class="inner">
                    <div class="info">
                      <h5>Sumith Dugyala</h5>
                      <p>Developer</p>
                      <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>

      </div>
    </div>
  </div>
</div>
