
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="height: 60px;">
    <div class="container">
      <img style="max-width: 50px;
    position: relative;
    right: 100px;" src="assets/logo.png">
      <img style="max-width: 100px;
    position: relative;
    right: 90px;" src="assets/name.png">
      <a class="navbar-brand">Hospital</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
</header>
<div class="container" style="margin: 30px;margin-left: 70px">
<div class="card" >
  <div class="card-header">
    <h1 id="card3" style="font-family: Jost">Password Information</h1>
  </div>
  <div class="card-body">
<form [formGroup]="addForm1" >

  <div class="form-group row">
    <label for="inputNewPassword3" class="col-sm-2 col-form-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputNewPassword3" [(ngModel)]="new_pass" formControlName="new_password">
      <div *ngIf="submitted && addForm1.controls.new_password.errors">
        <div class="text-danger" *ngIf="addForm1.controls.new_password.errors.required">
          New Password should not be blank
        </div>
        <div class="text-danger" *ngIf="addForm1.controls.new_password.errors.pattern">
          Only Alpha Numemrics allowed and must be of minimum 6 characters and maximum 8
          characters..!
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRePassword3" class="col-sm-2 col-form-label">Retype Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputRePassword3" [(ngModel)]="old_pass" formControlName="re_password">
      <div *ngIf="submitted && addForm1.controls.re_password.errors">
        <div class="text-danger" *ngIf="addForm1.controls.re_password.errors.required">
          It should not be blank
        </div>
      </div>
    </div>
  </div>
  <a  style="color: white;position: relative;float: right"   class="btn btn-success " (click)="onPasswordChange()">Update</a>
</form>

  </div>
</div>
</div>
<div id="snackbar">The Password must match</div>
