<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="height: 60px;">
    <div class="container">
      <a class="navbar-brand">Hospital</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
</header>



<div class="container" id="cardone" style="position: relative;
    width: 50%; height: 500px; bottom: 40px;   left: 10%;">



  <div class="card" style="width: 70%;
    height: 60%;
    border: 0px;
    bottom: 50px;
    right: 40px;
    position: relative;
    top: 30%;">
    <div class="card-body" style="border: 2px solid;border-radius: 20px;background-color: aliceblue;
    box-shadow: 2px 2px 15px black;">
      <label for="exampleInputEmail1" style="width: 100%;position: relative;top: 60px;
   text-align: center;font-family: Jost;font-size: 20px">Enter the Email Id </label>
      <form style="position:relative;left: 23%;
    top: 30%;" [formGroup]="addForm">
        <div class="form-group">

          <input type="email" class="form-control inputchange1" id="exampleInputEmail1" style="width: 75%;position:relative;right: 40px;text-align: center;" [(ngModel)]="email" formControlName="email" aria-describedby="emailHelp">
          <div *ngIf="submitted && addForm.controls.email.errors">
            <div class="text-danger" *ngIf="addForm.controls.email.errors.required">
              Email is required..!
            </div>
            <div class="text-danger" *ngIf="addForm.controls.email.errors.email">
              Email pattern is wrong.!
            </div>
          </div>

          <button type="submit" class="btn btn-primary" id="changeName1" style="width: 55%;position: relative;top: 10px;border-radius: 10px" (click)="OnSubmit()">Submit</button>
        </div>
        <a (click)="backtosignup()"  style="position:relative;left:40px;text-decoration: none;cursor: pointer" >Back to Signup Page</a>

      </form>
    </div>
  </div>

</div>
<div class="container" id="cardtwo" style="position: relative;
    width: 50%; height: 500px; bottom: 40px;   left: 10%;">



  <div class="card" style="width: 70%;
    height: 60%;
    border: 0px;
top: 31%;
margin-bottom: 30px;
    bottom: 20px;
    right: 40px;
    position: relative;
  ">
    <div class="card-body" style="border: 2px solid;border-radius: 20px;background-color: aliceblue;
    box-shadow: 2px 2px 15px black;">
      <label for="exampleInputEmail1" style="width: 100%;position: relative;top: 20px;
   text-align: center;font-family: Jost;font-size: 20px">After Entering Email a code has been sent to your mail<br>Enter the code here</label>
      <form style="position:relative;left: 23%;
    top: 10%;" [formGroup]="addForm1">
        <div class="form-group">

          <input type="email" class="form-control" id="otpinput" style="width: 55%;text-align: center;" [(ngModel)]="code" formControlName="otp" aria-describedby="emailHelp" readonly>
          <div *ngIf="submitted1 && addForm1.controls.otp.errors">
            <div class="text-danger" *ngIf="addForm1.controls.otp.errors.required">
              Code is required
            </div>
          </div>

          <button type="submit" class="btn btn-primary" style="width: 55%" (click)="OnSubmitOtp()">Submit</button>
        </div>
        <a (click)="backtosignup()"  style="position:relative;left:40px;text-decoration: none;cursor: pointer" >Back to Signup Page</a>
      </form>
    </div>
  </div>

</div>
<div id="snackbar">Code you Entered is wrong</div>
<div id="snackbar1">The mail given is not registered</div>
<div id="snackbar2">Am Email has been Sent</div>
